.advantages {
  outline: 3px solid rgba(0, 255, 0, 0.7);
  outline-offset: -3px;
}

.advantages__wrapper {
  background-color: @advantages-background;
}

.advantages__offer {
  background-color: white;
}

.advantages__list h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
