.contacts {
  outline: 3px solid rgba(154, 127, 228, 0.7);
  outline-offset: -3px;
}

.info {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
}

.contacts__info a {
  color: @contacts-links;
}

.adress {
  color: @contacts-links;
}
