.download-app {
  background-image: url("../../img/back-mobile.png");
  background-repeat: no-repeat;
  outline: 3px solid rgba(236, 82, 198, 0.7);
  outline-offset: -3px;
}

.download-app__slogan {
  color: white;
}

.download-app__wrapper a {
  color: white;
}

.download-app__wrapper p {
  color: white;
}

.download-app__wrapper {
  display: flex;
  flex-direction: column;
}
