.download-app {
  min-height: 462px;
  background: url("../img/hand-mobile.png") no-repeat bottom left,
              url("../img/back-mobile.png") no-repeat;
  background-size: auto, cover;

  @media (min-width: @tablet-width) {
    min-height: 730px;
    background: url("../img/hand-tablet.png") no-repeat bottom left,
              url("../img/back-tablet.png") no-repeat;
    background-size: auto, cover;
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    background: url("../img/hand-desktop.png") no-repeat bottom right,
              url("../img/back-desktop.png") no-repeat;
    background-size: auto, cover;
  }
}
